@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,500;1,300&display=swap");

$primary-color: #fb953e;
$gray-one: #00000080;
$gray-two: #666666;

$mobile: 768px;

* {
  font-family: "Open Sans", sans-serif;
}

button {
  cursor: pointer;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 43.58px;
  text-align: left;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 21.79px;
  letter-spacing: 0.05em;
  text-align: left;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 9.75rem 0.75rem;
  background-color: white;
  border-bottom: 1.75px solid #c7c7c7;
}

.title {
  display: flex;
  flex-direction: row;
  padding: 2.5rem 9.75rem 0rem;
}

header .logo {
  font-size: 1.5rem;
}

header .cart {
  display: flex;
  align-items: center;
  width: 1.25rem;
  height: 1.438rem;
}

header .cart img {
  margin-right: 1rem;
  width: 1.0625rem;
  height: 1.25rem;
}

.cart-container {
  position: relative;
  display: inline-block;

  .cart_image {
    margin-right: 1rem;
    width: 1.0625rem;
    height: 1.25rem;
  }

  .cart-count {
    position: absolute;
    bottom: 0.125rem;
    right: 0.6rem;
    background-color: $primary-color;
    color: white;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
  }
}

select option:checked {
  background-color: $primary-color;
}

*::selection {
  background: $primary-color;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  display: flex;
  padding: 1rem;
  gap: 1.5rem;
  padding: 2.5rem 9.75rem;
}

aside {
  flex: 1;
  max-width: 250px;
}

.filter {
  margin-bottom: 1rem;
}

.filter h2 {
  margin-bottom: 1rem;
}

.filter h4 {
  margin-bottom: 0.5rem;
}

.filter label {
  display: block;
  margin-bottom: 0.3rem;
}

input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  accent-color: $primary-color;
  width: 16px;
  height: 16px;
  top: 249px;
  left: 162px;
  gap: 0px;
  opacity: 0px;
  border: 1px solid #00000080;
}

.color-item,
.price-item {
  display: flex;
  flex-direction: row;
  margin: 0;
  text-align: left;
}

.size-container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;

  .size-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    padding: 0.3125rem;
    border: 0.0625rem solid #c7c7c7;
    background-color: #fff;
    color: #c7c7c7;
    cursor: pointer;
  }

  .size-button.selected {
    color: black;
    border-color: $primary-color;
  }
}

.filter-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
}

.apply {
  color: #fffafa;
  background: $primary-color;
  font-weight: 400;
  width: 50%;
  height: 33.55px;
  border: none;
}

.clear {
  color: $gray-two;
  background: white;
  font-weight: 400;
  width: 50%;
  height: 33.55px;
  border: 1px solid $gray-two;
}

main {
  flex: 3;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin-bottom: 1.5rem;

  .product-item {
    display: flex;
    flex-direction: column;
    width: 195.25px;
    height: 424px;
    opacity: 0px;
    gap: 0.8rem;
    align-items: center;
    text-align: center;

    img {
      height: 100%;
    }

    button {
      color: #fffafa;
      background: black;
      font-weight: bold;
      width: 100%;
      height: 33.55px;
      border: none;
    }

    h2 {
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.192rem;
    }

    h3 {
      font-size: 1rem;
      font-weight: 700;
      color: black;
      line-height: 1.362rem;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
      color: $gray-two;
      line-height: 1.362rem;
    }
  }
}

.sort-options {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-left: 1.5rem;
}

.sort-options label {
  margin-right: 0.5rem;
}

select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

#load-more {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  color: #fffafa;
  background: $primary-color;
  font-weight: bold;
  height: 2.097rem;
}

footer {
  text-align: center;
  padding: 0.46rem;
  background-color: #000000;
  color: #fff;
}

footer p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 19.07px;
  letter-spacing: 0.05em;
}

.mobile-controls {
  display: none;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;
}

.mobile-controls button {
  color: $gray-two;
  background: white;
  font-weight: 400;
  width: 50%;
  border: 1px solid $gray-two;
  width: 100%;
  padding: 0.75rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 999;
  overflow: auto;
}

.sort-options-mobile {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sort-options-mobile button {
  display: flex;
  text-align: left;
  font-size: 1.375rem;
  font-weight: 400;
  width: 100%;
  background-color: white;
  color: black;
  margin-bottom: 0.5rem;
  border: none;
  cursor: pointer;
}

.mobile-title {
  display: none;
}

@media (max-width: $mobile) {
  header {
    padding: 2.5rem 2rem 0.75rem;
  }
  .mobile-controls {
    display: flex;
    justify-content: center;
  }

  .menu-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.625rem;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0.5rem;
    background-color: white;
    border-bottom: 1px ridge #c7c7c7;
  }

  .menu-header h2 {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 400;
  }

  .menu-header button {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }

  #filter-desktop {
    display: none;
  }

  .filter {
    padding: 1rem 1rem 0.5rem;
  }

  .filter-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0.5rem;
  }

  .title {
    display: none;
  }

  .mobile-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .color-item,
  .price-item {
    display: flex;
    flex-direction: row;
    margin: 0;
    text-align: left;
  }

  .size-container {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;

    .size-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      font-size: 1rem;
      padding: 0.3125rem;
      border: 0.0625rem solid #c7c7c7;
      background-color: #fff;
      color: #c7c7c7;
      cursor: pointer;
    }

    .size-button.selected {
      color: black;
      border-color: $primary-color;
    }
  }

  .product-grid {
    gap: 1.188rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .product-item img {
    width: 100%;
  }

  .product-item button {
    max-width: 162px;
    max-height: 33px;
  }

  .content {
    padding: 2rem 3rem;
  }
}

@media (max-width: 400px) {
  .mobile-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: auto;
  }
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
    padding: 0;
  }
}
